<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Interpolation example</h1>
  <b>
    Name : {{ name }} <br>
    Age : {{ age }} <br>
    Email : <input type="text" value = "{{ email }}">
  </b>
  <br><br>
  <h1>Property Binding</h1>
  <b>
    Name : <input type="text" [value]="name"><br>
    Age : <input type="text" [value]="age"><br>
    Email : <input type="text" [value]="email">
  </b>
  <br><br>
  <h1>Event Binding</h1>
  <button (click)="changeN()">ChangeName</button><br>
  <button (click)="changeA()">ChangeAge</button><br>
  <button (click)="changeE()">ChangeEmail</button><br><br>
  <br><br>
  <img [src]="imagepath" width="300px" height="300px"><br>
  <button (click)="changeI()">ChangeImage</button><br><br>
  <h1>2 Way Binding</h1>
  <input type="text" placeholder="Enter the name" [(ngModel)]="fname">
  <h1>Welcome {{fname}}</h1>


  <h1 [ngClass]="myclass">Structural and Attribute Directives</h1>
  <button (click)="changeclass()">changeclass</button><br><br>
  <button (click)="changeflag()">Show or Hide Div</button>
  <div *ngIf="flag" [ngStyle]="mystyle">
    <ul>
      <li style="list-style:square" *ngFor="let p of players" (click)="show(p)">{{p}}</li>
    </ul>
    <br>
    <h1>You are the star player : {{selectedplayer}}</h1><br>
    <div [ngSwitch]="selectedplayer">
      <font color="#FFA500" *ngSwitchCase="'CR7'">PORTUGAL</font>
      <font color="#FFA500" *ngSwitchCase="'LM10'">ARGENTINA</font>
      <font color="#FFA500" *ngSwitchCase="'NJ11'">BRAZIL</font>
      <font color="#FFA500" *ngSwitchDefault>Invalid</font>
    </div>
    <button (click)="changestyle()">change style</button>
  </div>
</body>
</html>